<div class='top-section'>
    <h1>IMDb</h1>
    <span class='bigger' onclick='openNav()'>&plus;</span>
</div>

<nav>
    <div id='mySidenav'class='sidenav nav'>
        <ul class='nav-list'>
            <li><a href='javascript:void(0)' class='closebtn hidden' onclick='closeNav()'>&times;</a></li>
            <li><a href="#">Movies</a></li>
            <li><a href="#">Actors</a></li>
            <li><a href="#">Add New Movie</a></li>
            <li><a href="#">Add New Actor</a></li>
    </ul>

    </div>
</nav>
 