<div class='top-section'>
    
   <div class="imdb-span">
       <div class='imdb-div'>
           <h1 class='imdb'>IMDb</h1>
        </div>
        <span class='bigger' onclick='openNav()'>☰</span>
    </div>

    <div class='searchbar'>
    <form  action="/action_page.php">
        <input class = 'search-type'type="text" placeholder="Search IMDb" name="search">
        <button class='search-button' type="submit" value="&#x1F50D"><i class='fa-solid fa-magnifying-glass'></i></button>
      </form>
    </div>
</div>

<nav>
    <div id='mySidenav'class='sidenav nav'>
        <ul class='nav-list'>
            <li><a href='javascript:void(0)' class='closebtn hidden' onclick='closeNav()'>&times;</a></li>
            <li><a href="/movies">Movies</a></li>
            <li><a href="/actors">Actors</a></li>
            <li><a href="/movies/new">Add New Movie</a></li>
            <li><a href="/actors/new">Add New Actor</a></li>
    </ul>

    </div>
</nav>
 