
.imdb {
    text-align: center;
    order: 1;  
    border: 1px solid #DAA520;
    background-color: #DAA520;
    width: 100px;
    border-radius: 8px;
    color:black;
}

.top-section{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.topnatop-section .searchbar {
  float: right;
}

.top-section input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
}

.top-section button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  cursor: pointer;
  border: 1px solid black;
}

.searchbar {
  order: 1;
  margin-top: 15px;
}

.search-type {
  height: 15px;
  width: 125px;
}

.search-button {
  height: 31px;
  width: 35px;
  color: black;
}
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: lightblue; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }

.sidenav a:hover {
    color: gray;
  }

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
 
  }

.movie-container a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  nav li {
    padding: 10px;
  }

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.nav-list {
    list-style-type: none;
  }


.bigger {
    font-size: 35px;
    margin-top: 20px;
    cursor: pointer;
}

.movie-container{
  /* border: 1px solid green; */
  width: 500px;
  margin-top: 10px;

}