.imdb {
  text-align: center;
  order: 1;
  border: 1px solid #daa520;
  background-color: #daa520;
  width: 100px;
  border-radius: 8px;
  color: black;
}

.top-section {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  width: 100%;
}

.imdb-span {
  display: flex;
  flex-direction: row;
}

.searchbar {
  padding-left: 10px;
  padding-right: 10px;
}

.imdb-div {
  padding-left: 10px;
  padding-right: 10px;
  order: 1;
}

.top-section input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
}

.top-section button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  cursor: pointer;
  border: 1px solid black;
}

.searchbar {
  order: 1;
  margin-top: 18px;
}

.search-type {
  height: 15px;
  width: 325px;
}

.search-button {
  height: 31px;
  width: 35px;
  color: black;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #daa520;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a:hover {
  color: gray;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.movie-container a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.movie-container a:hover {
  text-decoration: underline;
}

nav li {
  padding: 10px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.nav-list {
  list-style-type: none;
}

.bigger {
  font-size: 35px;
  margin-top: 20px;
  cursor: pointer;
}

body {
  background-color: black;
  color: white;
}

.all-movies {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.movie-container {
  width: 200px;
  height: 400px;
  margin: auto;
  padding: 5px;
  display: inline-block;
  color: white;
}

.movie-container h2 {
  text-align: center;
  font-size: 15px;
}

.movie-container img {
  width: 100%;
  height: 300px;
}

.movie-info {
  display: flex;
  justify-content: space-around;
  font-size: 10px;
}

section {
  max-width: 80%;
  margin: auto;
}

.movie-text {
  margin-top: 10px;
}

.show-image {
  max-height: auto;
  max-width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.actor-index-img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  display: flex;
  margin: auto;
  object-fit: cover;
}

.all-actors {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.actor-index-container {
  width: 200px;
  height: auto;
  margin: auto;
  padding: 5px;
  display: inline-block;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.actor-index-container a {
  color: white;
  cursor: pointer;
}

.actor-name {
  bottom: 5px;
}

.top {
  display: flex;
  margin-left: 5%;
  text-decoration: none;
  background: #0000;
  color: white;
  font-size: larger;
  position: fixed;
  bottom: 5%;
}

.show-container {
  display: flex;
  align-items: center;
  border: solid;
  border-color: #daa520;
  border-radius: 1%;
  flex-direction: column;
  max-width: 50%;
  height: auto;
  margin-left: 25%;
  margin-top: 40px;
  padding-bottom: 15px;
}

.actor-show-movies-cont,
.movie-show-actors-cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  max-height: auto;
  margin: auto;
  display: inline-block;
  text-align: center;
  margin-right: 15px;
  object-fit: cover;
}

.movie-show-actor-img,
.actor-show-movie-img {
  width: 125px;
  height: 150px;
  display: flex;
  margin: auto;
  object-fit: cover;
}

.actor-movies-cont {
  margin: 0;
  max-width: 95%;
  max-height: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  float: left;
}

::-webkit-scrollbar-track {
  background-color: black;
  color: black;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  color: grey;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 20px;
}

p, a {
  color: white;
  text-decoration: none;
}

p {
  font-size: smaller;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

input {
  margin: 10px;
}

.actor-movie-edit-new-cont {
  border: solid;
  border-color: #daa520;
  margin: auto;
  max-width: 65%;
  max-height: auto;
  text-align: center;
}

@media only screen and (max-width: 805px){
  .show-container {
    margin: 0;
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-top: 20px;
  }

  .movie-image {
    margin: auto;
    max-width: 95px;
    max-height: 115px;
  }
  
  .movie-container {
    width: 90px;
    height: 155px;
    margin: auto;
    margin-top: 35px;
    padding: 10;
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    color: white;
  }
  
  .movie-name {
    margin-top: 6px;  
    bottom: 0;
    padding-bottom: 0;
  }

  h2 {
    margin: 0;
  }
  
  .movie-text {
    font-size: 8px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .actor-index-container {
    width: 70px;
    height: 85px;
    margin: auto;
    padding: 5px;
    display: inline-block;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .actor-index-img {
    width: 50px;
    height: 50px;
  }
  .actor-name {
    font-size: smaller;
  }
  .searchform {
    max-width: 205px;
    max-height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .search-type {
    max-width: 205px;
    max-height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .searchbar {
    max-width: 205px;
    max-height: auto;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .imdb {
    max-width: 75px;
    max-height: auto;
    font-size: 20px;
  }
  .imdb-div {
    max-width: 75px;
    max-height: auto;
    margin-top: 17px;
  }

  .actor-movie-edit-new-cont {
    max-width: 100%;
    max-height: auto;
  }
  
}

@media only screen and (max-width: 400px){
  .searchform {
    max-width: 115px;
    max-height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .search-type {
    max-width: 115px;
    max-height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .searchbar {
    max-width: 115px;
    max-height: auto;
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .movie-name {
    margin-top: 6px;  
    bottom: 0;
    padding-bottom: 0;
    font-size: 8px;
  }
  
  .movie-container {
    width: 90px;
    height: 155px;
    margin: auto;
    margin-top: 35px;
    padding: 10;
    padding-left: 0;
    padding-right: 0;
  }
  
  .movie-text {
    margin: 0;
    font-size: 8px;
  }

  .actor-movie-edit-new-cont {
    max-width: 100%;
    max-height: auto;
  }
}
